/* Grey background for the contact form container */
.contact-page-container {
    background-color: #ccc;
}

/* Form styling and layout section */

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
  }
  
  input,
  textarea {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
/* CSS styles for the success message */
.success-message {
  background-color: lightgreen;
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
  font-weight: bold;
}